{% if slide.notes %}
  <div class='notes'>{{ slide.notes }}</div>
{% endif %}

{% if slide.title %}
  <h1>{{ slide.title }}</h1>
{% endif %}

{% if slide.heading %}
  <h2>{{ slide.heading }}</h2>
{% endif %}

{% if slide.text %}
  <p>{{ slide.text }}</p>
{% endif %}

{% if slide.bullets %}
  <ul>
  {% for bullet in slide.bullets %}
    <li>{{ bullet }}</li>
  {% endfor %}
  </ul>
{% endif %}

{% for code in slide.code %}
  {% if code contains '(' %}
    <p>{{ code | remove: '(' | remove: ')' }}</p>
  {% else %}
    {% capture lang %}{{ code | split:'.' | last }}{% endcapture %}
    {% capture file %}{{page.slides}}/{{code}}{% endcapture %}
    {% case lang %}
    {% when 'rb' %}
      {% highlight ruby %}{% include  %}{% endhighlight %}
    {% when 'py' %}
      {% highlight python %}{% include {{file}} %}{% endhighlight %}
    {% when 'er' %}
      {% highlight erlang %}{% include {{file}} %}{% endhighlight %}
    {% when 'hs' %}
      {% highlight haskell %}{% include {{file}} %}{% endhighlight %}
    {% when 'java' %}
      {% highlight java %}{% include {{file}} %}{% endhighlight %}
    {% when 'lisp' or 'cl' or 'rkt' or 'scm' %}
      {% highlight lisp %}{% include {{file}} %}{% endhighlight %}
    {% else %}
      {% highlight javascript %}{% include {{file}} %}{% endhighlight %}
    {% endcase %}
  {% endif %}
{% endfor %}