@import url(http://fonts.googleapis.com/css?family=Belgrano);

body {
  padding: 0px 0 20px 0px;
  margin: 0px;
  font: 7vh/1.7 "Belgrano", serif;
  color: #f0e7d5;
  font-weight: normal;
  background: #252525;
}

/*

clay - 171, 63, 49
sky - 68, 159, 120
slate - 48, 53, 60
gray - 234

try a subtle radial spotlight


*/

section {
  border-bottom: 1px solid green;
  height: 90vh;
  padding: 5vh;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #e8e8e8;
  margin: 0 0 2vh;
  font-family: "Belgrano", serif;
  font-weight: normal;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 4vh;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 16vh;
}

h2 {
  font-size: 10vh;
}

a {
  color: #ffcc00;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: #ffeb9b;
}

strong {
  font-family: "Belgrano", serif !important;
  font-weight: normal;
}

code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #efefef;
}

pre {
  font-size: 70%;
  padding: 4vh;
  background: #191919;
  overflow: auto;
  overflow-y: hidden;
  margin: 0 0 4vh;
}