<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="javascripts/index.js"></script>
  </head>
  <body>
    {% for slide in site.data[{{page.slides}}] %}
      <section class="{{ slide.style }}">
        {% include elements.html %}
      </section>
    {% endfor %}
  </body>
</html>